.auth-links {
    display: flex;
    gap: 7px;
    margin-top: 14px;
    align-self: center;
}

.auth-links__title {
    color: #A0A0A0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.auth-links__link {
    text-decoration: none;
    color: #3456F3;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.auth-links__link:hover {
    opacity: .7;
}

@media screen and (min-width: 768px) {
    .auth-links__link {
        font-size: 14px;
    }

    .auth-links__title {
        font-size: 14px;
    }
}