.movies-card__item {
    position: relative;
    display: flex;
    flex-direction: column;
}


.movies-card__image {
    max-width: 300px;
    object-fit: cover;
    object-position: 50% 50%;
}

.movies-card__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movies-card__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
}

.movies-card__duration {
    color: #A0A0A0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 10px;
    background: #F4F4F4;
    padding: 3px 4px;
}

.movies-card__save-button {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 30px;
    background: #F4F4F4;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 9px;
    min-width: 72px;
    min-height: 21px;
    cursor: pointer;
}

.movies-card__saved-button {

    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 50%;
    background-image: url('../../images/save.svg');
    min-width: 21px;
    min-height: 21px;
    cursor: pointer;
}

.movies-card__delete-button {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 50%;
    background-image: url('../../images/delete.svg');
    min-width: 21px;
    min-height: 21px;
    cursor: pointer;
}

.movies-card__save-button:hover {
    opacity: .8;
}

@media screen and (min-width: 768px) {
    .movies-card__image {
        max-width: 339px;
    }

    .movies-card__title {
        font-size: 13px;
    }
}

@media screen and (min-width: 1280px) {
    .movies-card__image {
        max-width: 360px;
    }
}