.profile {
    background: #FAFAFA;
    height: 100vh;
}

.profile__container {
    height: 706px;
    max-width: 260px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.profile__input-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
}

.profile__input-container:last-child {
    border-bottom: none;
}

.profile__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin: 0 auto;
}

.profile__form {
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.profile__input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    text-align: right;
    min-height: 46px;
}

.profile__label {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: normal;
}

.profile__control {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    margin-top: auto;
}

.profile__control-button {
    border: none;
    background: transparent;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.profile__control-button:disabled {
    cursor: not-allowed;
  }

.profile__control-button_signout {
    color: #EE3465;
    font-weight: 500;
}

.profile__notification {
    margin-top: 16px;
    color: green;
}

.profile__error {
    color: #EE3465;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px;
}

.profile__success {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
    .profile__container {
        height: 950px;
        max-width: 410px;
        padding-top: 236px;
        padding-bottom: 269px;
    }

    .profile__form {
        padding-top: 75px;
    }

    .profile__control-button {
        font-size: 13px;
    }
}

@media screen and (min-width: 1280px) {
    .profile {
        padding-top: 74px;
    }
    .profile__container {
        padding: 0;
        height: 482px;
    }

    .profile__form {
        padding-top: 105px;
    }
}