.promo {
    background-color: #DDDEE3;
    min-height: 570px;
    box-sizing: border-box;
    position: relative;
    padding: 207px 10px 0;
}

.promo__title {
    margin: 0 auto;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 31px;
    font-weight: 400;
    line-height: 39px;
    text-align: center;
    letter-spacing: -1.24px;
}

.promo__background {
    position: absolute;
    top: 142px;
    left: 0;
    right: 0;
    margin: auto;
    width: 248px;
    height: 248px;
    background-image: url('../../images/promo_pic.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .promo {
        min-height: 784px;
        padding: 326px 19px 0;
    }

    .promo__title {
        font-size: 50px;
        line-height: 58px;
        max-width: 730px;
        letter-spacing: -2px;
    }
    
    .promo__background {
        top: 224px;
        width: 320px;
        height: 320px;
    }
}

@media screen and (min-width: 1280px) {
    .promo {
        min-height: 524px;
        padding: 184px 275px 0;
    }
    
    .promo__background {
        top: 82px;
    }
}